/// File of variables

// font
$default-fonts: "Poppins", Helvetica, sans-serif;

// images
$images-folder: "../img/";

// main colors
$color-navy-main: #4080c0;
$color-navy-secondary: #3232da;
$color-dark-grey: #999;

// background colors   NOT USED
$bg-clear: #fbfef9;
$bg-alert: #ff4242;
$bg-success: #3ab795;

// text colors          USED ?
$txt-clear: #12130f;
$txt-dark: #fbfef9;

// utilities
$btn-radius: 5px;
$txt-padding: 10px;
$small-spacing: 2rem;
